/*spreadsheet made for all webpages in musicbox*/
* { /*sets the entire webpage's padding and margin to zero*/
  padding: 0;
  margin: 0;
}

body { /*background in red and text font color*/
  font-family: system-ui, 
             -apple-system, BlinkMacSystemFont, 
             "Segoe UI", 
             "Roboto", 
             "Oxygen", 
             "Ubuntu", 
             "Cantarell", 
             "Fira Sans", 
             "Droid Sans", 
             "Helvetica Neue", 
             Arial, sans-serif;
  color: rgb(200, 200, 200);
  background: rgb(30, 30, 30);
}

hr { /*extra space*/
  border: 0px
}

ol {
  text-align: left;
  margin: auto;
}

/*-------------------------------------------------------------------------*/

/*content (text aligned: left)*/
.content { /*content is on the left*/
  background: rgba(50, 50, 50, 0.5);
  text-align: left;
  margin: auto;
  max-width: 800px;
}

.topic {
  padding: 0px 20px 60px 20px;
}

.topic-section {
  padding: 30px 0px;
}

.content-header-xxxl { /*web page's title*/
  font-size: xxx-large;
}

.content-header-xxxl-center { /*web page's title*/
  font-size: xxx-large;
  text-align: center;
}

.content-header-xxl { /*big subtitle*/
  font-size: xx-large;
}

.content-header-xxl-center { /*big subtitle*/
  font-size: xx-large;
  text-align: center;
}

.content-header-xl { /*small subtitle*/
  font-size: x-large;
}

.content-header-xl-center { /*small subtitle*/
  font-size: x-large;
  text-align: center;
}

.content-paragraph { /*paragraphs*/
  font-size: large;
}

.content-paragraph-center { /*paragraphs center*/
  font-size: large;
  text-align: center;
}
/*content end*/

/*-------------------------------------*/

/*links*/
.content-paragraph-link {
  color:rgb(15, 15, 15);
}

a:hover { /*hover over links*/
  color: rgb(0, 255, 100);
}

a.active {
  color: rgb(15, 15, 15);
}

/*-------------------------------------------------------------------------*/

/*Images*/

.image {
  margin: 30px auto;
  min-width: 0px;
  width: 95%;
  display: block;
}
.image-logo {
  margin: 20px 20px 20px 0px;
  min-width: 0px;
  max-width: 340px;
}
/*-------------------------------------------------------------------------*/

/*Gifs as a horizontal line*/
.column {
  width: 50%;
}

/* Responsive layout - makes the both images stack on top of each other instead of next to each other */
@media screen and (max-width: 960px) {
  .image-logo {
    width: 500px;
  }
}